*
{
  cursor: url('cursors/dogeOne.cur'), none;
}

#canvas
{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:-1;
}

#img
{
  position:absolute;
  z-index:-100;
  display:none;
}

#info
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 700px;
  height: 50px;
  color: #CC00FF;
  font-weight: bold;
  font-family: Comic Sans MS;
  font-size: 12px;
}

#info > p
{
  display: inline;
}

#info > a
{
  color: red;
}